name: CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  CARGO_HUSKY_DONT_INSTALL_HOOKS: true
  CARGO_TERM_VERBOSE: true
  CARGO_INCREMENTAL: '0'
  CARGO_NET_OFFLINE: true

jobs:
  Test:
    strategy:
      matrix:
        conf:
          - { toolchain: stable  , os: ubuntu-18.04   , components: "rustfmt, clippy" , coverage: true }
          - { toolchain: beta    , os: ubuntu-18.04   }
          - { toolchain: nightly , os: ubuntu-18.04   }

    runs-on: ${{ matrix.conf.os }}
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Install APT dependencies
      run: |
        sudo apt-get update -yqq
        sudo apt-get install -yqq --no-install-recommends fuse

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.conf.toolchain }}
        components: ${{ matrix.conf.components }}
        override: true

    - name: Generate Cargo.lock
      run: cargo generate-lockfile
      env:
        CARGO_NET_OFFLINE: false

    - name: Cache cargo registry
      uses: actions/cache@v1
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

    - name: Cache cargo index
      uses: actions/cache@v1
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}

    - name: Fetch cargo dependencies
      run: cargo fetch
      env:
        CARGO_NET_OFFLINE: false

    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace

    - name: Run format check
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check
      if: contains(matrix.conf.components, 'rustfmt')

    - name: Run clippy
      uses: actions-rs/cargo@v1
      env:
        RUSTFLAGS: "-D warnings"
      with:
        command: clippy
        args: --workspace --all-targets
      if: contains(matrix.conf.components, 'clippy')

    - name: Install cargo-tarpaulin
      run: |
        curl -L https://github.com/xd009642/tarpaulin/releases/download/0.10.0/cargo-tarpaulin-0.10.0-travis.tar.gz | tar zxf -
        mkdir -pv $HOME/.cargo/bin
        mv -v ./cargo-tarpaulin $HOME/.cargo/bin
        echo ::add-path::$HOME/.cargo/bin
      if: matrix.conf.coverage == true

    - name: Run tarpaulin
      uses: actions-rs/cargo@v1
      with:
        command: tarpaulin
        args: --verbose --workspace --out Xml
      if: matrix.conf.coverage == true

    - name: Send report to Codecov
      uses: codecov/codecov-action@v1.0.3
      if: success() && matrix.conf.coverage == true
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
